{% extends 'base.html' %}

{% block content %}

<div class = "container-fluid" >
    <div class=" container col-md-6 offset-md-3" style="background-color: lightblue">
        <h1> Add new record </h1>
        <br/>

        <form method="POST" action="{% url 'add' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <br/>
            <hr/>
            <button type="submit" class="btn btn-primary">Add</button>
            <br/><br/>          
        </form>
        
    </div>
</div>


{% endblock content %}