{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

      <h1> Records... </h1>

      {% if records %}
        {% for record in records %}
          {{ record.id }}
          {{ record.first_name }}
          {{ record.last_name }}
          {{ record.phone }} 
          {{ record.email }}
          {{ record.address }}
          {{ record.city }}
          {{ record.zip_code }}
          {{ record.created_at }}
          <br/><br/>
        {% endfor %}
      {% endif %}

    {% else %}

    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br/>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}

            <form>
                <div class="mb-3">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" class="form-control" name="username" placeholder="User Name">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                  <br/>
                  
                </div>
                
                <button type="submit" class="btn btn-secondary">Login</button>
                <hr/>
              </form>

        </form>


    </div>  

    {% endif %}

{% endblock content %}
